.base {
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    background-color: #37505a;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: white;
}

.base h1 {
    text-align: center;
    color: white;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.control input {
    font: inherit;
    background-color: #f1e1fc;
    color: #37505a;
    border-radius: 4px;
    border: 1px solid white;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    border: 1px solid #37505a;
    border-radius: 6px;
    padding: 0.5rem 2.5rem;
    background-color: #4d1601;
}

.actions button:hover {
    background-color: #37505a;
    border-color: #37505a;
}

.actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #37505a;
    border: none;
    padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
    background-color: transparent;
    color: #37505a;
}
.photo {
    margin: 3rem auto;
    text-align: center;
}
.error {
    color: #c493c9;
}
.invalid {
    border: 1px solid #b40e0e;
    background-color: #5e365e;
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: white;
}
.success {
    color: #c493c9;
}

.preview {
    padding: 10px 16px;
    /*border-bottom: 1px solid #37505a;*/
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-left: 350px;*/
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    border-radius: 20px;
}

/*The below hover code creates a nice hover effect*/
.preview:hover {
    box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
}

.preview h3 {
    font-size: 20px;
    color: #5e365e;
    margin-bottom: 8px;
}

.preview h4 {
    font-size: 14px;
    color: #37505a;
    margin-bottom: 8px;
}

.warning {
    font-size: 20px;
    color: orangered;
}

.submit {
    color: #c493c9;
    background-color: #37505a;
}

.click {
    border: 1px solid #b40e0e;
    background-color: #0a3c3d;
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
}