header {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('assets/pexels-photo-1453499.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}